<br><br>
<div class="pull-right">
  <% if can? :delete, @page %>
	 <%= link_to 'Delete', page_url(@page), confirm: "Are you sure you want to delete this page?", method: :delete, class: 'btn btn-mini btn-danger' %> |
  <% end %>
  <% if can? :edit, @page %>
  	<%= link_to 'Edit', edit_page_url(@page), class: 'btn btn-small' %> |
  <% end %>
	<%= link_to 'Home', pages_url %>
</div>

<h2><%= @page.title %></h2>
<hr>

<%= Page.textile2html(@page.current_body) %>

<!-- Button to trigger modal -->
<% if can? :create, @tag  %>
  <a href="#myModal" role="button" class="btn btn-mini" data-toggle="modal">Add Tag</a>
<% end %>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Tags</h3>
  </div>
  
  <div id="new-tag-form">
    <%= render partial: 'tag_form', locals: {tag: @tag, page: @page} %>
  </div>
</div>


<% @revisions = @page.revision_history %>
<% if @revisions and @revisions.count > 1 %>
	<h3>Revision History</h3>
	<% @revisions.each_with_index do |revision, i| %>
		<% if i > 0 %>
	  	<%= link_to "#{revision.created_at.to_formatted_s(:long)}", page_content_url(@page, revision) %><br />
	  <% end %>
	<% end %>
<% end %>

