<!DOCTYPE html>
<html>
<head>
  <title>Mywiki</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="span8 offset2">

      

      <% flash.each do |key,value| %>
        <% alert_type = (key == :success ? 'success' : 'error') %>
        <br>
        <div class="
        <%= "alert alert-#{alert_type}" %> 
        ">
          <a class="close" data-dismiss="alert">x</a>
          <%= content_tag :span, value %>
        </div>
      <% end %>

      <%= yield %>

      <br><br>
      <% if user_signed_in? %>
      	<div class="pull-right">
		      <small>Logged in as <strong><%= current_user.email %></strong>.
		      <%= link_to 'Edit profile', edit_user_registration_path %> |
		      <%= link_to "Logout", destroy_user_session_path, method: :delete %></small>
		    </div>
      <% else %>
       <div class="pull-right">
		      <small>
		      	<%= link_to "Sign up", new_user_registration_path %> |
       			<%= link_to "Login", new_user_session_path %>
       		</small>
		    </div>
      <% end %>

    </div>
  </div>

</body>
</html>
